freeglut3-dev
libgtk2.0-dev
libgl1-mesa-glx
ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation
streamlit
# albumentations>=1.0.3
roboflow
setuptools
pyproject_hooks
torch
numpy==1.24.4
Pillow==9.5.0
opencv-python==4.8.0.76
ultralytics==8.0.120
